<header class="header-container">
    <button class="language-toggle" id="language-toggle">
        <span class="lang-text">EN</span>
    </button>

    <img
        class="header-logo"
        src="/my-portfolio/img/logo.png"
        alt="Jaume Cortés"
    />

    <p class="header-subtitle" data-i18n="header.subtitle">Hey, I'm Jaume 👋</p>
    <h1 class="header-title" data-i18n="header.title">AI Portfolio</h1>
</header>
