---
import "../styles/global.css";
import MouseEffect from "../components/MouseEffect.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/my-portfolio/favicon.png" />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
		/>
		<title>Jaume Cortés | Portfolio</title>
		<meta name="description" content="Portfolio of Jaume Cortés" />
		<meta
			name="keywords"
			content="portfolio, jaume cortés, web developer"
		/>
		<meta name="author" content="Jaume Cortés" />
		<meta name="robots" content="index, follow" />
	</head>
	<body>
		<slot />
		<MouseEffect />
	</body>
</html>

<style is:global>
	@import "tailwindcss";
	@plugin "@midudev/tailwind-animations";
</style>
